@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  

  .dark {
    --background: 225 9% 9%;
    --foreground: 210 40% 98%;

    --card: 228 9% 11%;
    --card-foreground: 210 40% 98%;

    --popover: 228 9% 11%;
    --popover-foreground: 210 40% 98%;

    --primary: 252 100% 69%;
    --primary-foreground: 0 0% 100%;

    --secondary: 228 6% 16%;
    --secondary-foreground: 210 40% 98%;

    --muted: 228 6% 16%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 228 6% 16%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 228 6% 16%;
    --input: 228 6% 16%;
    --ring: 212.7 26.8% 83.9%;

    --radius: 0.5rem;
  }

  .light {
  --background: 0 0% 14.5%;
  --foreground: 0 0% 98.5%;
  
  --card: 0 0% 20.5%;
  --card-foreground: 0 0% 98.5%;
  
  --popover: 0 0% 20.5%;
  --popover-foreground: 0 0% 98.5%;
  
  --primary: 0 0% 92.2%;
  --primary-foreground: 0 0% 20.5%;
  
  --secondary: 0 0% 26.9%;
  --secondary-foreground: 0 0% 98.5%;
  
  --muted: 0 0% 26.9%;
  --muted-foreground: 0 0% 70.8%;
  
  --accent: 0 0% 26.9%;
  --accent-foreground: 0 0% 98.5%;
  
  --destructive: 22 19% 70.4%;
  
  --border: 0 0% 100% / 10%;
  --input: 0 0% 100% / 15%;
  --ring: 0 0% 55.6%;
  
  --chart-1: 264 24% 48.8%;
  --chart-2: 162 17% 69.6%;
  --chart-3: 70 19% 76.9%;
  --chart-4: 304 26% 62.7%;
  --chart-5: 16 25% 64.5%;
  
  --sidebar: 0 0% 20.5%;
  --sidebar-foreground: 0 0% 98.5%;
  --sidebar-primary: 264 24% 48.8%;
  --sidebar-primary-foreground: 0 0% 98.5%;
  --sidebar-accent: 0 0% 26.9%;
  --sidebar-accent-foreground: 0 0% 98.5%;
  --sidebar-border: 0 0% 100% / 10%;
  --sidebar-ring: 0 0% 55.6%;
  
  --radius: 0.5rem;
}
}

@layer base {
  * {
    @apply border-border antialiased;
  }
  html {
    @apply h-full;
  }
  body {
    @apply h-full bg-background text-foreground;
  }
}

@layer components {
  .container .curved-shape {
    transform: rotate(8deg) skewY(40deg);
  }
  .container.active .curved-shape {
    transform: rotate(0deg) skewY(0deg);
  }

  .container .curved-shape2 {
    transform: rotate(0deg) skewY(0deg);
  }
  .container.active .curved-shape2 {
    transform: rotate(-11deg) skewY(-39deg);
  }

  .form-box.Register,
  .info-content.Register {
    opacity: 0;
    transform: translateX(190%);
    transition: 2.0s ease;
  }
  .container.active .form-box.Register,
  .container.active .info-content.Register {
    opacity: 1;
    transform: translateX(0);
  }

  .form-box.Login,
  .info-content.Login {
    transition: 2.0s ease;
  }
  .container.active .form-box.Login,
  .container.active .info-content.Login {
    opacity: 0;
    transform: translateX(-190%);
  }
  
}